* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/*----- Nav Bar -----*/
.nav-bar {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 3px 3px 25px black;
    height: 30px;
    position: relative;
    z-index: 10;
}
.link-container {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    font-size: 1.25rem;
}
.logo-container {
    display: flex;
    align-items: center;
    height: 45px;
    transform: translateY(-7px);
}
.logo-nav, .logo-side {
    width: 45px;    
    height: 45px;
}
.logo-list {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
/*----- Side Bar -----*/
.side-bar .logo-container {
    margin-left: 15px;
}
.link-container-side a {
    text-decoration: none;
    color: black;
    padding: 15px 0px;
    padding-left: 10px;
    border-bottom: black 1px solid;
}
.link-container-side a:hover {
    background-color: #888;
}
.link-container-side a:first-child {
    border-top: black 1px solid;
}
.side-bar {
    position: absolute;
    z-index: 20;
    background-color: #ddd;
    height: 100%;
    top: 0;
    left: 0;
    width: 25%;
    transform: translateX(0%);
    padding-top: 15px;
}
.link-container-side {
    display: flex;
    flex-direction: column;
}
/*----- Home -----*/
.home-img-container {
    position: relative;
    height: 30%;
    width: 100%;
    overflow: hidden;
}
.home-img-container img {
    width: 100%;
    transform: translateY(0%);
}
.home-container h2 {
    text-align: center;
    margin: 20px
}
.home-container .item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*----- Shop -----*/
