* {
    margin: 0;
    padding: 0;
}
/*----- Nav Bar -----*/
.nav-bar {
    background-color: #666;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.link-container {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
.logo-nav {
    width: 30px;    
    height: 30px;
}
.logo-container {
    
}
/*----- Side Bar -----*/
.link-container-side a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.side-bar {
    position: absolute;
    background-color: #777;
    height: 100%;
    top: 0;
    left: 0;
    width: 25%;
}
.link-container-side {
    display: flex;
    flex-direction: column;
}
.logo-list {
    width: 30px;
    height: 30px;
}
.logo-side {
    width: 40px;
    height: 40px;
}